<style>
     .cards{
       float: left;
    }
    .margi{
      margin-left: 10px
    }
</style>
<div class="jumbotron">
  <h1>Boa Compra</h1>
  <p>
    Compre em qualquer lugar! ou Horário!
  </p>
  <p>
    <%= link_to 'Crie Sua Conta', cadastro_path, class: 'btn btn-primary btn-lg' %>
  </p>
</div>
<div class="row">
  <div class="card col-3 cards margi" style="width: 29rem;">
    <img src="app/assets/images/tv55.jpg " class="card-img-top" alt="rss feed">
    <div class="card-body">
      <h5 class="card-title">R$ 2500,00</h5>
      <p class="card-text">Tv LG 55, full HD.</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>

  <div class="card col-3 cards" style="width: 29rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">R$ 4,500</h5>
      <p class="card-text">Tv 70, fullHDWI-fi.</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>

  <div class="card col-3 cards" style="width: 29rem;">
    <img src="img/5a6362d096600880f522b0fd488dde97.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">R$ 250,00</h5>
      <p class="card-text">Forno eletrico.</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>

  <div class="card col-3 cards" style="width: 29rem;">
    <img src="img/5a6362d096600880f522b0fd488dde97.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">R$ 500,00</h5>
      <p class="card-text">Escorredor portatil.</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>
   <div class="card col-3 cards margi" style="width: 29rem;">
    <img src="app/assets/images/tv55.jpg " class="card-img-top" alt="rss feed">
    <div class="card-body">
      <h5 class="card-title">R$ 2500,00</h5>
      <p class="card-text">Tv LG 55, full HD.</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>

  <div class="card col-3 cards" style="width: 29rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">R$ 4,500</h5>
      <p class="card-text">Tv 70, fullHDWI-fi.</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>

  <div class="card col-3 cards" style="width: 29rem;">
    <img src="img/5a6362d096600880f522b0fd488dde97.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">R$ 250,00</h5>
      <p class="card-text">Forno eletrico.</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>

  <div class="card col-3 cards" style="width: 29rem;">
    <img src="img/5a6362d096600880f522b0fd488dde97.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">R$ 500,00</h5>
      <p class="card-text">Escorredor portatil.</p>
      <a href="#" class="btn btn-primary">Comprar</a>
    </div>
  </div>
</div>
<br>

<center>  
  <button type="button" class="btn btn-success btn-lg btn-primary">Ver Mais</button>
</center>





