<div class="jumbotron">
  <h1>Boa Compra</h1>
  <p>
    Compre em qualquer lugar! ou Horário!
  </p>
  <p>
    <%= link_to 'Crie Sua Conta', cadastro_path, class: 'btn btn-primary btn-lg' %>
  </p>
</div>
