<h1>Sobre</h1>

<p>
  Site para realizar compras onlines e anunciar também, seja um cliente interessado em 
  algum produto, seja ele de casa, vestuario ou utensilos do lar. Ou sistema de loja onlines 
  onde se pode anunciar seus produtos, ou produtos de sua loja. 
</p>
